# macOS
.DS_Store

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rcheck/
*.tar.gz

# Package build
/doc/
/Meta/

# Package directories excluded from version control
/docs/
/data-raw/
/inst/plans/
/inst/specs/


