# macOS
.DS_Store

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rcheck/
*.tar.gz

# Package build
/doc/
/Meta/
src/*.so
src/*.o
src/*.dll
tests/testthat/Rplots.pdf

# Package directories excluded from version control
/docs/
/data-raw/
/inst/plans/
/inst/specs/
/inst/replications/*
/refs/

